
<div class="container">
  
	<h2>SendGrid E-mail Sender<small>Please complete an E-mail</small></h2>
  
	<form name="emailForm" novalidate>
    
	    <div class="group">      
	      <input type="email" name="to" ng-model="email.to" ng-required="true">
	      <span class="highlight"></span>
	      <span class="bar"></span>
	      <label>To</label>
	    </div>
	      
	    <div class="group">      
	      <input type="email" name="from" ng-model="email.from" ng-required="true">
	      <span class="highlight"></span>
	      <span class="bar"></span>
	      <label>From</label>
	    </div>
	    
	    <div class="group">      
	      <input type="text" name="subject" ng-model="email.subject" ng-required="true">
	      <span class="highlight"></span>
	      <span class="bar"></span>
	      <label>Subject</label>
	    </div>

	    <div class="group ">      
			<md-input-container>
        		<textarea ng-model="email.text" name="text" placeholder="Enter Text Here.." columns="1" md-maxlength="150" ng-required="true"></textarea>
      		</md-input-container>
		</div>

	    <md-button class="md-raised md-primary" ng-disabled="emailForm.$invalid" ng-click="submitEmail()">
  			Submit
		</md-button>

		<md-button class="md-raised md-primary" ng-disabled="emailForm.$invalid || inPreview" ng-click="previewEmail()">
  			Preview
		</md-button>


		<!-- <div ng-if="emailForm.$dirty"> -->
<!-- 				<md-button class="md-raised md-primary" type="reset" ng-click="clearForm()">
	  			Clear
			</md-button> -->
	<!-- 	</div> -->

		<!-- <md-button class="md-raised md-primary" type="reset" ng-disabled ="emailForm.$pristine" ng-click="clearForm()"> -->
  			<!-- ng-click="clearForm()" 
  			Clear
		</md-button> -->


		<!-- Form Messages -->
		<div ng-if="emailForm.$dirty">
			<div ng-messages="emailForm.$error">
			    <h3 ng-message="email"><span class="label-danger">Please enter a valid Email address</span></h3>
			    <h3 ng-message="required"><span class="label-danger">You need to complete a required field</span></h3>
			</div>
		</div>

	</form>


	<!-- Messages -->	
	<div ng-if="emailSubmitMessages.success">
	  	<h3 class="some-message"><span class="label-success">Message has been sent</span></h3>
	</div>
	<div ng-if="emailSubmitMessages.fail">
	  	<h3 class="some-message"><span class="label-danger">Unable to send message</span></h3>
	</div>

	<div ng-if="emailPreviewMessages.success">
	  	<h3 class="some-message"><span class="label-success">Preview Success!!</span></h3>
	</div>
	<div ng-if="emailPreviewMessages.fail">
	  	<h3 class="some-message"><span class="label-danger">Error getting preview!!</span></h3>
	</div>

</div>
