/**
 * Background image taken from http://freeseamlesstextures.com/
 */
body { background-image:url("../assets/img/12-natural-stone-background-sml.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
};


.container {
	margin-left: auto;
    margin-right: auto;
    width: 100%;
};

.materialContainer {
    width: 100%;
    height:100%;
};

.app-content {
	width:100%;
};


form {
	padding: 10px 30px 20px 25px;
};


/**
 * MESSAGES 
 * http://www.cnblogs.com/Answer1215/p/4068016.html
 */
.my-messages {
  position: absolute;
  left:80px;
  bottom: 15px;
  /*position: relative;*/
}

.my-messages .ng-active {
  /* messages are showing */
}

.my-messages .ng-inactive {
  /* messages are not showing */
}

.some-message {
  color: black;
  background-color: #d9534f;

  position: absolute;
  opacity: 1;
  transition: 3.3s linear all;
  font-size: .8em;
}

.some-message .ng-enter .ng-enter-active {
  opacity: 1;
  top: 0;
}

.some-message .ng-enter {
  opacity: 0;
  top: -20px;
}

.some-message .ng-leave {
  opacity: 1;
  top: 0;
}

.some-message .ng-leave-active {
  opacity: 0;
  top: 20px;
}


/**
 * From Bootstrap CSS 
 */
.label-danger {
  background-color: #d9534f;
}
.label-warning {
  background-color: #f0ad4e;
}

.label-success {
  background-color: #5cb85c;
}

.label-info {
  background-color: #5bc0de;
}


/** 
 * Flex Boxes
 */
.rightFlexbox {
/*background-color: #5cb85c;	*/
};
.leftFlexbox {
/*background-color: #5cb85c;	*/
};
